#squarearea{
    width: 700px;
    height: 300px;
    border: 2px solid black;
    position:relative;
}
.square{
    border: 2px solid black;
    position:absolute;
    /* background-color: red;
    top:50px;
    left: 50px; */
}